<div class="dialog-container">
  <button mat-icon-button mat-dialog-close>
      <i class="material-icons">close</i>
  </button>

  <img src="{{mycontacts.fotoUrl}}" alt="Avatar">
  <h3>{{mycontacts.nome}}</h3>

  <span><strong>Nome:</strong> {{mycontacts.nome}}</span>
  <span><strong>Endereco:</strong> {{mycontacts.endereco}}</span>
  <span><strong>Cidade:</strong> {{mycontacts.cidade}}</span>
  <span><strong>Estado:</strong> {{mycontacts.estado}}</span>
  <span><strong>Pessoa:</strong> {{mycontacts.pessoa}}</span>
  <span><strong>E-mail:</strong> {{mycontacts.email}}</span>
  <span><strong>Telefone:</strong> {{mycontacts.telefone}}</span>
  <span><strong>Grupo:</strong> {{mycontacts.grupo}}</span>
  <span><strong>Descricao:</strong> {{mycontacts.descricao}}</span>
  <span><strong>Data:</strong> {{mycontacts.data}}</span>
</div>
